################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.angular/cache/16.2.5
/.vs
/node_modules
